<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Closed</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= link_to appointment.body.truncate(10, :omission => "..."), category_appointment_path(@category, appointment) %></td>
        <td><%= appointment.closed %></td>
        <td><%= appointment.category.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', category_path(@category) %>
